/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}

.button {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  padding: 12px 24px;
  background-color: #ff7500;
  border-radius: 4px;
  transition: opacity 0.4s ease;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding: 16px 0;
}
.logo-img {
  cursor: pointer;
  transition: opacity 0.4s ease;
}
.logo-img:hover {
  opacity: 0.8;
}
.logo-img:active {
  opacity: 0.6;
}
nav {
  display: flex;
  align-items: center;
}
.header-items {
  display: flex;
  margin-right: 32px;
  list-style: none;
}
.header-item:not(:last-child) {
  margin-right: 32px;
}
.header-item-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.header-item-link:hover {
  color: #ff7500;
}
.header-item-link:active {
  opacity: 0.6;
}
.header-button {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
}

/* Hero */
.hero {
  background-color: #252420;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hero-content {
  align-self: center;
  width: 387px;
}
.hero-hr {
  display: block;
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  margin-bottom: 40px;
}
.hero-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #ffffff;
  width: 339px;
  margin-bottom: 24px;
}
.hero-text {
  width: 387px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 32px;
}
.hero-button {
  display: inline-block;
}
.hero-img {
  border-radius: 8px;
  box-shadow: 24px 24px 0px 0px #ff750099;
}

/* Features */
.features {
  padding: 210px 0;
  margin-bottom: 35px;
}
.features-hr {
  width: 80px;
  height: 3px;
  display: block;
  background-color: #ff7500;
  margin-bottom: 24px;
}
.features-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #000000;
  width: 435px;
  margin-bottom: 72px;
}
.features-list {
  list-style: none;
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 40px;
}
.features-item-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff750033;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.features-headline {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 12px;
}
.features-info {
  width: 314px;
}

/* Sale */
.sale {
  margin-bottom: 160px;
}
.sale-container {
  background-color: #252420;
  padding: 64px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}
.sale-content {
  align-self: center;
  margin-right: 92px;
}
.sale-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #ffffff;
  width: 373px;
  margin-bottom: 24px;
}
.sale-content-text1 {
  width: 440px;
  color: #fff;
  margin-bottom: 12px;
}
.sale-content-text2 {
  width: 440px;
  color: #ffffff;
  margin-bottom: 24px;
}
.sale-button {
  display: inline-block;
}
.sale-img {
  border-radius: 12px;
}

/* Footer */
footer {
  background-color: #f8f8f8;
}
.footer-container {
  padding-top: 56px;
  padding-bottom: 56px;
}
.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}
.social-icons {
  display: flex;
  list-style: none;
}
.social-item:not(:last-child) {
  margin-right: 16px;
}
.social-item svg {
  cursor: pointer;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.social-item svg path:hover {
  color: #ff7500;
}
.social-item svg path:active {
  opacity: 0.6;
}
.footer-hr {
  display: block;
  width: 1100px;
  height: 2px;
  background-color: #25242080;
  margin-bottom: 64px;
}
.site-footer-bottom {
  display: flex;
}
.site-footer-bottom ul {
  list-style: none;
  width: 224px;
}
.site-footer-bottom ul:not(:last-child) {
  margin-right: 68px;
}
.site-footer-bottom li {
  margin-bottom: 16px;
}
.site-footer-bottom a {
  color: #252420;
  line-height: 19px;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.site-footer-bottom a:hover {
  color: #ff7500;
}
.site-footer-bottom a:active {
  opacity: 0.6;
}
